__pycache__/
*.py[cod]
*.tmp
*.log

.vscode/

TAL2/checkpoints/
TAL2/data/
TAL2/**/*.ckpt
TAL2/**/*.pkl

openpi/.git/
openpi/**/.git/
openpi/third_party/
openpi/.venv/
openpi/.uv/
openpi/.pytest_cache/
openpi/**/*.ckpt
openpi/**/*.pkl

*.graph
